@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyTransition-enter {
  opacity: 0;
}
.bodyTransition-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.bodyTransition-exit {
  opacity: 1;
}
.bodyTransition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

@layer components {
  #modal {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #modal:empty {
    display: none;
  }
}
