@tailwind base;
@tailwind components;
@tailwind utilities;

.body-enter {
  opacity: 0;
  transform: scale(0.8);
}
.body-enter-active {
  opacity: 0.7;
  transform: translateX(0);
  transition: opacity, transform 200ms;
}
.body-exit {
  opacity: 0.7;
}
.body-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity, transform 200ms;
}

@layer components {
  #modal {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #modal:empty {
    display: none;
  }
}
